#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

#{list items:stations, as:'station'}
<h3 class="ui segment">
  <section class="ui six yellow cards">
    <div class="ui card">
      <div class="ui header">
      <h4> ${station.name}
        <br><br>
        <i class="big icons">
          <i class="purple map marker icon"></i></i>
        <br>
        Lat : ${station.latitude} <br>
        Lng : ${station.longitude}</h4>
      </div>
    </div>
    <div class="ui card">
      <h4>Weather <br><br>
        <i class="big icons">
          <i class="green cloud sun rain icon"></i></i>
        <br>
      ${station.weatherDescription}
      </h4>
    </div>
    </div>
      <div class="ui card">
          <div class="ui header">
        <h4> Temp <br><br>
          <i class="big icons">
            <i class ="red temperature high icon"></i>
          </i>
          <br>
        ${station.latestTemperatureC} C<br>
        ${station.latestTemperatureF} F</h4>
    </div>
      </div>
    <div class="ui card">
      <h4>Wind <br><br>
        <i class="big icons">
          <i class="blue wind icon"></i></i>
        <br>
      ${station.beaufortConversion} <br>
      ${station.latestWindSpeed} bft<br>
      ${station.windCompass}<br>
      Feels Like: ${station.windChill}C</h4>
    </div>
    </div>
      <div class="ui card">
        <h4>Pressure <br><br>
        <i class="big icons">
          <i class="orange tachometer alternate icon"></i></i>
          <br>
          ${station.latestPressure} hpa
          </h4>
        </div>

  #{listfeatures station:station /}
  <a href="/stations/${station.id}" class="ui icon button">
    <i class="icon folder open"></i>
  </a>
  <a href="/dashboard/deletestation/${station.id}" class="ui icon button">
    <i class="icon trash"></i>
  </a>

  </section>
  </h3>
#{/list}
#{addstation /}
<h3/>
